				<h2>
                    <a href="{{latestPost.singleUrl}}">{{latestPost.title}}</a>
                </h2>
               
                <p>by <a href="index.php">- {{latestPost.author}} / </a><span ></span> Posted on {{latestPost.postDate}} at {{latestPost.postTime}}</p>
                <hr>
                <img class="img-responsive" src="{{latestPost.imageUrl}}" alt="">
                <hr>
                <p>{{latestPost.postDescription}}</p>
                <a class="btn btn-primary" href="#">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>

                <hr>